@import url("https://fonts.googleapis.com/css?family=Nunito&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

body {
  background: #eedfcc;
  color: #555555;
  font-size: 14px;
}

img {
  display: block;
  width: 100%;
  height: 100%;
}

.wrapper {
  width: 100%;
  margin: 20px auto;
}

.cards_wrap {
  display: flex;
  flex-wrap: wrap;
}

.cards_wrap .card_item {
  width: 25%;
  padding: 10px;
}

.cards_wrap .card_inner {
  background: #fff;
}

.cards_wrap .card_top {
  width: 100%;
  min-height: 225px;
  padding: 10px;
  padding-bottom: 0;
}

.cards_wrap .card_bottom {
  padding: 15px;
  height: 113px;
}

.cards_wrap .g-card {
  padding: 15px;
  height: 200px;
  font-weight: bolder;
}

.cards_wrap .g-card h6 {
  font-weight: bold;
}

.cards_wrap .card_bottom .card_category {
  text-transform: uppercase;
  text-align: center;
}

.cards_wrap .card_bottom .card_info {
  padding: 15px;
  margin: 10px 0;
  border: 1px dashed #0071bc;
}

.cards_wrap .card_bottom .card_info .title {
  color: #0071bc;
  font-size: 18px;
  margin-bottom: 5px;
}

.cards_wrap .card_bottom .card_creator {
  text-align: center;
}

.carousel-item img {
  height: 400px
}

.carousel-inner {
  margin-top: -16px;
}

/* media queries  */

@media (max-width: 1024px) {
  .cards_wrap .card_item {
    width: 33.3%;
  }

  .cards_wrap .g-card {
    height: 200px;
  }
}

@media (max-width: 768px) {
  .cards_wrap .card_item {
    width: 50%;
  }

  .cards_wrap .g-card {
    height: 200px;
  }

  .carousel-indicators {
    margin-bottom: 10px !important;
  }

  .carousel-item img {
    height: 300px;
  }
}

@media (max-width: 767.9px) {
  .cards_wrap .g-card {
    height: 306px;
  }
}

@media (max-width: 528px) {
  .cards_wrap .card_top {
    height: auto;
  }

  .cards_wrap .card_item {
    width: 100%;
  }
}

@media only screen and (max-width: 576px) {
  .carousel-indicators {
    margin-bottom: 0px !important;
  }

  .carousel-item img {
    height: 120px;
  }
}

@media only screen and (max-width: 425px) {
  .carousel-indicators {
    margin-bottom: 0px !important;
  }

  .carousel-item img {
    height: 120px;
  }
}

@media only screen and (max-width: 375px) {
  .carousel-indicators {
    margin-bottom: 0px !important;
  }

  .carousel-item img {
    height: 120px;
  }
}

@media only screen and (max-width: 320px) {
  .carousel-indicators {
    margin-bottom: -4px !important;
  }

  .carousel-item img {
    height: 100px;
  }
}